[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-brkaubing
Exec=harbour-brkaubing
Name=BRK Aubing
Name[de]=BRK Aubing

[X-Sailjail]
Permissions=Internet;UserDirs
OrganizationName=de.brk-aubing
ApplicationName=harbour-brkaubing
